@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body, html{
    margin: 0;
    padding: 0;
    font-family:"Noto Sans", sans-serif;
    height: 100vh;
}

.container{
    background: linear-gradient(180deg, #5a169b,#446ff3);
    display:grid;
    justify-content: center;
    align-items: center;
  
    padding-bottom: 0;
    height: 100vh;
}

.content{
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 4px 6px #000000;
}

.logo{
    width: 125px;
    height: 125px;
    object-fit:contain;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

p{
    color: #666;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"]{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 5px;
    border-radius: 5px;
    background-color: #9243db;
    color: white;
    margin-left: 35px;
    margin-right: 35px;
    border: none;
    box-shadow: 4px 4px 5px #000000;
    transition: background-color 1.5s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: #6e0560;
   
}

input:hover{
    border-color: #e51bec;
}